@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../node_modules/react-pdf/dist/esm/Page/AnnotationLayer.css";
@import "../node_modules/react-pdf/dist/esm/Page/TextLayer.css";

@font-face {
  font-family: 'Orbitron-Regular';
  src: url('./assets/fonts/Orbitron/Orbitron-Regular.ttf') format('truetype');
}
.Orbitron {
  font-family: 'Orbitron-Regular', sans-serif;
}

@font-face {
  font-family: 'Lunasima-Regular';
  src: url('./assets/fonts/Lunasima/Lunasima-Regular.ttf') format('truetype');
}
.Lunasima {
  font-family: 'Lunasima-Regular', sans-serif;
}

.scrollable-content {
  max-height: calc(100vh - 2rem); /* Adjust this value according to your needs */
  overflow-y: auto;
}

@font-face {
  font-family: 'Outfit-Medium';
  src: url('./assets/fonts/Outfit/Outfit-Medium.ttf') format('truetype');
}
.Outfit {
  font-family: 'Outfit-Medium', sans-serif;
}

.scrollable-content {
  max-height: calc(100vh - 2rem); /* Adjust this value according to your needs */
  overflow-y: auto;
}